---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = '我的 Astro 学习博客';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
    <p>在这里，我将分享我的 Astro 学习之旅。</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
      </ul> 
</Layout>
